a {
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
  }
  li {
    float: left;
  }
  li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover, dropdown:hover .dropbtn {
    background-color: lightblue;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
.dropdown-content a:hover {
    background-color: lightblue;
  }
.dropdown:hover .dropdown-content {
display: block;
}
h1 {
    font-family: "Times New Roman", "Times New Roman", Times, serif;
    color: black;
    text-align: center;
  }
  h3 {
    font-family: "Brush Script MT", cursive;
    color: black;
    text-align: center;
    font-size: 25px;
  }
  h2 {
    font-family: "Audiowide", sans-serif;
    color: royalblue;
    text-align: left;
  }
  p {
    font-family: "Verdana", "Geneva", Tahoma, sans-serif;
    color: grey;
    font-size: 1.2em;
    text-align: justify;
  }
  img {
    float: left;
    margin: 20px;
    }
  body {
    background-color: lightblue;
    background-image: linear-gradient(lightblue, white);
    margin-left: 120px;
    margin-right: 120px;
  }